* {
  background-color:blue;
}

h1, {
  text-align: center;

}
  
  h2 {
  text-align: center;
  font-style: italic;
  color: rgb(0, 2, 128);
  
}

h3 {
  text-align: center;
}

img {
  border-radius: 400px;
  border-style: solid;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;
}